if SHIELD_ANYWHY_FLAKE_DONGLE

config ZMK_KEYBOARD_NAME
	default "Anywhy Flake"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if ZMK_DISPLAY

config SPI
    default y

choice ZMK_DISPLAY_WORK_QUEUE
    default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice

endif

if SHIELD_ANYWHY_FLAKE_DONGLE || SHIELD_ANYWHY_FLAKE_LEFT || SHIELD_ANYWHY_FLAKE_RIGHT

config ZMK_SPLIT
	default y
		
endif
