#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        mk: mk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp H &kp I &kp M &kp M &kp E &kp O &kp M &kp E &kp O &kp DOT &kp C &kp O &kp M>;
            label = "MK";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&gresc     &kp N1    &kp N2    &kp N3     &kp N4    &kp N5       &kp N6     &kp N7     &kp N8     &kp N9    &kp N0     &kp MINUS
&kp TAB    &kp Q     &kp W     &kp E      &kp R     &kp T        &kp Y      &kp U      &kp I      &kp O     &kp P      &kp LBKT
&mo 1      &kp A     &kp S     &kp D      &kp F     &kp G        &kp H      &kp J      &kp K      &kp L     &kp SEMI   &kp APOS
&kp LSHFT  &kp Z     &kp X     &kp C      &kp V     &kp B        &kp N      &kp M      &kp COMMA  &kp DOT   &kp FSLH   &mt RIGHT_SHIFT EQUAL
           &kp LALT  &kp LGUI  &kp LCTRL  &kp BSPC  &kp ENTER    &kp ENTER  &kp SPACE  &kp LEFT   &kp BSLH  &kp RIGHT
            >;
        };

        fn {
            bindings = <
&kp TILDE  &kp F1  &kp F2  &kp F3             &kp F4           &kp F5     &kp F6  &kp F7    &kp F8        &kp F9     &kp F10          &kp F11
&none      &none   &none   &none              &none            &kp F12    &none   &none     &kp UP        &none      &none            &kp RIGHT_BRACKET
&none      &none   &none   &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &none      &none   &kp LEFT  &kp DOWN      &kp RIGHT  &none            &none
&none      &none   &none   &none              &none            &none      &none   &none     &none         &none      &none            &none
           &trans  &trans  &trans             &trans           &none      &none   &trans    &kp C_VOL_DN  &trans     &kp C_VOLUME_UP
            >;
        };
    };
};
