#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "zmk-helpers/helper.h"

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        mk: mk {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp H &kp I &kp M &kp M &kp E &kp O &kp M &kp E &kp O &kp DOT &kp C &kp O &kp M>;
            label = "MK";
            wait-ms = <1>;
            tap-ms = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&gresc     &kp N1    &kp N2    &kp N3     &kp N4    &kp N5       &kp N6     &kp N7     &kp N8     &kp N9    &kp N0     &kp MINUS
&kp TAB    &kp Q     &kp W     &kp E      &kp R     &kp T        &kp Y      &kp U      &kp I      &kp O     &kp P      &kp LBKT
&mo 1      &kp A     &kp S     &kp D      &kp F     &kp G        &kp H      &kp J      &kp K      &kp L     &kp SEMI   &kp APOS
&kp LSHFT  &kp Z     &kp X     &kp C      &kp V     &kp B        &kp N      &kp M      &kp COMMA  &kp DOT   &kp FSLH   &mt RIGHT_SHIFT EQUAL
           &kp LALT  &kp LGUI  &kp LCTRL  &kp BSPC  &kp ENTER    &kp ENTER  &kp SPACE  &kp LEFT   &kp BSLH  &kp RIGHT
            >;
        };

        fn {
            bindings = <
&kp TILDE  &kp F1  &kp F2  &kp F3             &kp F4           &kp F5     &kp F6  &kp F7    &kp F8        &kp F9     &kp F10          &kp F11
&none      &none   &none   &none              &none            &kp F12    &none   &none     &kp UP        &none      &none            &kp RIGHT_BRACKET
&none      &none   &none   &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &none      &none   &kp LEFT  &kp DOWN      &kp RIGHT  &none            &none
&none      &none   &none   &none              &none            &none      &none   &none     &none         &none      &none            &none
           &trans  &trans  &trans             &trans           &mk        &none   &trans    &kp C_VOL_DN  &trans     &kp C_VOLUME_UP
            >;
        };

        scroll {
            bindings = <
&kp TILDE  &kp F1  &kp F2  &kp F3             &kp F4           &kp F5     &kp F6  &kp F7    &kp F8        &kp F9     &kp F10          &kp F11
U_MSS_TP_S_I      &none   &none   &none              &none            &kp F12    &none   &none     &kp UP        &none      &none            &kp RIGHT_BRACKET
U_MSS_TP_S_D      &none   &none   &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &none      &none   &kp LEFT  &kp DOWN      &kp RIGHT  &none            &none
&none      &none   &none   &none              &none            &none      &none   &none     &none         &none      &none            &none
           &trans  &trans  &trans             &trans           &mk        &none   &trans    &kp C_VOL_DN  &trans     &kp C_VOLUME_UP
            >;
        };

        tp-settings {
            bindings = <
&kp TILDE  &kp F1  &kp F2  &kp F3             &kp F4           &kp F5     &kp F6  &kp F7    &kp F8        &kp F9     &kp F10          &kp F11
U_TOG_TP_SET      U_TOG_TP_SET     &none   U_MSS_TP_S_D              U_MSS_TP_S_I               U_MSS_TP_PT_I    U_MSS_TP_PT_I            U_MSS_TP_S_D             U_MSS_TP_S_I             &none                    U_TOG_TP_SET              U_TOG_TP_SET
U_MSS_RESET              U_MSS_RESET              &none                    U_MSS_TP_NI_D            U_MSS_TP_NI_I            U_MSS_TP_PT_D                 U_MSS_TP_PT_D            U_MSS_TP_NI_D            U_MSS_TP_NI_I            &none                    U_MSS_RESET               U_MSS_RESET
U_MSS_LOG                U_MSS_LOG                &none                    U_MSS_TP_V6_D            U_MSS_TP_V6_I            &none                         &none                    U_MSS_TP_V6_D            U_MSS_TP_V6_I            &none                    U_MSS_LOG                 U_MSS_LOG
           &trans  &trans  &trans             &trans           &mk        &none   &trans    &kp C_VOL_DN  &trans     &kp C_VOLUME_UP
            >;
        };
    };
};
